@import "./../../theme/variables";

.breadcrumb {
  display: flex;
  flex-direction: row;
  margin: 16px 0;

  .breadcrumb-item {
    color: $silver;
    font-size: 14px;
    margin-right: 23px;
    position: relative;

    &:after {
      content: ">";
      position: absolute;
      right: -16px;
    }

    &:last-child {
      font-weight: bold;
      &:after {
        content: "";
      }
    }
  }
}
